body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgb(233, 241, 249);
  font-family: sans-serif;
}

.button-container,
.info-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-container button {
  margin: 0;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: transparent;
  font-size: 10px;
}

.edit-button {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  background-color: transparent;
  text-transform: uppercase;
}
.edit-button:hover {
  background-color: rgb(142, 223, 186);
  color: white;
}
.edit-button:active {
  border: 1.5px solid rgba(141, 181, 145);
  background-color: rgb(142, 223, 186);
  color: white;
}

.delete-button {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
  text-transform: uppercase;
}

.delete-button:hover {
  background-color: rgb(255, 208, 172);
  cursor: pointer;
  color: white;
}

.delete-button:active {
  border: 1.5px solid rgba(255, 175, 163);
  background-color: rgb(255, 237, 223);
  color: rgb(255, 175, 163);
  cursor: pointer;
}

.create-button {
  background-color: rgb(108, 115, 148);
  border: 1.5px solid rgb(108, 115, 148);

  color: rgb(108, 115, 148);
  text-transform: uppercase;
}

.create-button:hover {
  background-color: rgb(131, 138, 172);
  color: white;
}

.create-button:active {
  background-color: rgb(108, 115, 148);

  color: white;
}

.button-container button:is(.signout) {
  background-color: rgb(255, 175, 163);
  border: 1.5px solid rgb(255, 175, 163);
  color: white;
  text-transform: uppercase;
}

.app {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px rgba(0, 0, 0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 50px;
  max-width: 90vw;
  width: 100vw;
}

.list-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.list-item {
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 0 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.list-item .tick path {
  fill: #000;
  stroke: #000;
  stroke-width: 32px;
  stroke-linecap: round;
  transition: transform 0.3s ease-in-out;
  stroke-miterlimit: 10;
}

/* MODAL */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;

  max-width: 500px;
  width: 100%;
}
